<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    <header>
        <span>Node <em>&</em> Express</span>
        <nav>
            <a href="/">Главная</a>
            <a href="/about">Про нас</a>
        </nav>
        <form action="">
            <input type="text" placeholder="Имя пользователя">
            <button>Поиск</button>
        </form>
    </header>
    <main>
        <h1>Страница про нас</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aperiam recusandae pariatur labore obcaecati magni odit modi, laudantium corrupti rerum quisquam est repellendus! Obcaecati id ipsum ad corrupti nisi excepturi.</p>

    </main>
</body>
</html>