<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Repositories</title>
    
</head>
<body>
    
    <!-- Верхняя панель сайта -->
    <%- include('partials/navbar'); %>
    <!-- Navbar -->

    <!-- Меню сайта -->
    <%- include('partials/offcanvas_menu'); %>
    <!-- offcanvas_menu -->


    <div class="container">
        <div class="form-container">
            <h2>GitHub Repositories</h2>
            <form id="githubForm">
                <label for="username">Enter GitHub username:</label><br>
                <input type="text" id="username" name="username" required><br><br>
                <button type="submit">Fetch Repositories</button>
            </form>
            <ul id="repoList" class="repo-list"></ul>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
