.navbar {
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.10);
}

a.navbar-brand {
    background-image: url("https://img1.fonwall.ru/o/qh/grand-teton-national-park-usa-snow-line-sunset.jpeg?auto=compress&amp;fit=resize&amp;w=1200&amp;display=large");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

a.navbar-brand:hover {
    background-image: url("https://img1.fonwall.ru/o/qh/grand-teton-national-park-usa-snow-line-sunset.jpeg?auto=compress&amp;fit=resize&amp;w=1200&amp;display=large");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}